{% extends 'base_generic.html' %}

{% block content %}
  <h2>Lista de Dispositivos</h2>

  {% if dispositivos %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Posición</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for dispositivo in dispositivos %}
          <tr>
            <td>{{ dispositivo.nombre }}</td>
            <td>{{ dispositivo.tipo }}</td>
            <td>{{ dispositivo.estado }}</td>
            <td>{{ dispositivo.posicion.nombre }}</td>
            <td>
              <a href="{% url 'editar_dispositivo' dispositivo.id %}">Editar</a> |
              <a href="#">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay dispositivos registrados.</p>
  {% endif %}
  <a href="{% url 'agregar_dispositivo' %}">Agregar nuevo dispositivo</a>
{% endblock %}
